{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'app1_entrega3/assets/img/img1_medicos.jpg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Nuestros médicos</h2>
                        <p>Profesionales altamente calificados que apostaron por nuestra página.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <form style='margin: auto; width: 400px;' action="" method="GET">

        <input style='margin: auto; width: 315px;' type="search" name="profesion" id="profesion">
        <input type="submit" value="Buscar">
        
    </form>
    {% if medico %}
    <ul>
        {% for medicos in medico %}
            <li>{{medicos.nombre}} {{medicos.apellido}}, {{medicos.lugar_trabajo}}, matrícula {{medicos.numero_matricula}}.</li>
        {% endfor %}
    </ul>
    {% else %}
    <p style="margin: auto; width: 400px">No hay datos con esa descripción.</p>
    {% endif %}
    <p style="margin: auto; width: 400px; color: crimson;">{{respuesta}}</p>
{% endblock %}