{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'app1_entrega3/assets/img/img3_inicio.jpg' %}" width="200" height="200" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">¿Quiénes somos?</h2>
                        <p>Somos una organización sin fines de lucro, con una web especializada encargada de asignar médicos de toda la Argentina a aquellos pacientes que buscan ser atendidos por los mejores profesionales, sin la necesidad de hacer llamados o movilizarse.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}