{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'app1_entrega3/assets/img/img1_medicos.jpg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Apúntate como médico profesional</h2>
                        <p>Al hacerlo, entrarás en el registro de aquellos que optaron por disponer sus servicios a los pacientes de una manera novedosa y eficiente.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if formulario.errors %}
    <p style="color:rgba(252, 46, 87, 0.938)">Datos érroneos. Revisar. </p>
    {% endif %}

    <form style='margin: auto; width: 400px;' action="" method = "POST"> {% csrf_token %}

        <table>
            {{ formulario.as_table }}
        </table>

        <input style='margin: auto; width: 318px;' type="submit" value="Enviar">
    </form>
{% endblock %}
