{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'app1_entrega3/assets/img/img2_turnos.jpg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Pide tu turno</h2>
                        <p>Podrás consultar por una fecha determinada, y se te asignará un médico especializado en lo que necesites.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if formulario.errors %}
    <p style="color:rgba(252, 46, 87, 0.938)">Datos érroneos. Revisar. </p>
    {% endif %}
    <form style='margin: auto; width: 400px;' action="" method = "POST"> {% csrf_token %}

        <table>
            {{ formulario.as_table }}
        </table>
    
        <input style="margin: auto; width: 306px;" type="submit" value="Enviar" {% if respuesta %} hidden {% endif %}>
    </form>
    {% if respuesta %}
        <p style="margin: auto; width: 400px; color: crimson; font-size: larger;">{{respuesta}}</p>
    {% endif %}
{% endblock %}